.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  margin-right: 10px;
}

.button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

span {
  color: #666;
}
