.tateti {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.status {
  font-size: 24px;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.board-square {
  display: flex;
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.square:hover {
  background-color: #f9f9f9;
}

.square:active {
  background-color: #eee;
}
